<h1><%= @doctor.id ? "Edit #{@doctor.name}" : "Add Doctor" %></h1>
<br />
<br /> 

<%= form_for @doctor do |f| %>
    
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder:"Dr.Mcstuffins" %>
    
     
    
    <%= f.submit %>
    <%end%>