<h1>The Greatest Doctors in the World</h1>
<h1>Work at South Park Medical Center<h1>
<%= @doctor.name %>
<%=link_to "Book an appointment today!", new_doctor_appointment_path %>
<%= link_to "Home", doctors_path %>
<%= link_to "Edit", edit_doctor_path(@doctor) %>
<%= link_to "Delete", doctor_path(@doctor), method: :delete %>